.jumbotron {
	background-color: purple;
	color: white;
	margin-top: 50px;
}

footer {
	background-color: violet;
	padding: 10px 10px 0 10px;
}

.card-product {
	flex: 1 200px;
	padding: 2px 0px 5px 0px;
	margin-top: 10px;
}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

