@purple: #7f07ba;
@violet: #b43cf0;

.margenes(@top: 0px, @bottom: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @purple;
	color: white;
	.margenes(50px, 10px);
}

h2 {
	text-decoration: underline; 
	color: purple; 
	padding-top: 20px;
}

footer {
	background-color: @violet;
	padding: 10px 10px 0 10px;
}

.card-product {
	flex: 1 200px;
	padding: 2px 0px 5px 0px;
	.margenes(50px, 10px);
}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}
