.postStyle {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  background-color: #16e612; }

.jumbotron {
  background-color: #7f07ba;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px; }

h2 {
  text-decoration: underline;
  color: purple;
  padding-top: 20px; }

footer {
  background-color: #b43cf0;
  padding: 10px 10px 0 10px; }

.card-product {
  flex: 1 200px;
  padding: 2px 0px 5px 0px;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
