$purple: #7f07ba;
$violet: #b43cf0;
$amarillo: #e5eb34;
$rojo: #eb1613;
$verde: #16e612;

@mixin estilo1($top, $bottom, $padcenter, $bgcol) {
	margin-top: $top;
	margin-bottom: $bottom;
	padding: $padcenter $padcenter $padcenter $padcenter;
	background-color: $bgcol;
}

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.postStyle {
	@include estilo1(50px, 10px, 5px, $verde);
}

.jumbotron {
	background-color: $purple;
	color: white;
	@include margenes(50px, 10px);
}

h2 {
	text-decoration: underline; 
	color: purple; 
	padding-top: 20px;
}

footer {
	background-color: $violet;
	padding: 10px 10px 0 10px;
}

.card-product {
	flex: 1 200px;
	padding: 2px 0px 5px 0px;
	@include margenes(10px, 10px);
}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}
